* {
    padding: 0;
    margin: 0;
}


.main-container {
    position: relative;
    left: 0;
}

body {
    overflow: hidden;
}

.bg {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: 100%;
    animation: bgMove 1s linear infinite;

}

.track {
    background-image: url(track.jpg);
    background-repeat: repeat-x;
    height: 23vh;
    width: 300vw;
    background-position: center;
    background-size: 100vw;
    position: absolute;
    top: 78vh;
    animation: trackMove 3s linear infinite;
}

.car {
    background-image: url(car_body.png);
    background-repeat: no-repeat;
    height: 23vh;
    width: 24vw;
    background-position: center;
    background-size: 100%;
    position: relative;
    top: 75vh;
    animation: bgMove 1s linear infinite;

}


.wheel2 {
    width: auto;
    position: absolute;
    height: 6.2vh;
    left: 15.7vw;
    top: 6vw;
    animation-name: wheelRotate;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.wheel1 {
    width: auto;
    position: absolute;
    height: 6vh;
    left: 4.5vw;
    top: 6vw;
    animation-name: wheelRotate;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes wheelRotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes trackMove {
    100% {
        transform: translate(-200vw);
    }
}

@keyframes bgMove {
    0% {
        transform: translateY(0vh);
    }

    50% {
        transform: translateY(1vh);
    }

    100% {
        transform: translateY(0vh);
    }
}





@media screen and (max-width : 800px) {
    body {
        background: black;
        overflow: hidden;
    }

    .bg {
        height: 100vh;
        width: 100vw;
        background-size: 384%;
        position: relative;
        overflow: hidden;
    }

    .track {
        height: 13vh;
        width: 300vw;
        background-position: center;
        background-size: 100%;
        position: absolute;
        top: 80vh;
    }

    .car {

        height: 15vw;
        width: 62vw;
        background-size: 100%;
        position: relative;
        top: 80vh;
    }

    .wheel1 {
        width: auto;
        position: absolute;
        height: 4.5vh;
        left: 11.7vw;
        top: 8.9vw;
    }

    .wheel2 {
        width: auto;
        position: absolute;
        height: 4.5vh;
        left: 40.7vw;
        top: 8.9vw;
    }
}