@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@300;400&display=swap');

:root {
    --primary-color: #282c3f;
    --secondary-color: #3e4152;
    --white-color: #ffffff;
    --fill-color: #696e79;
    --box-background: rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
    --fillbackground-color: #f5f5f6;
    --background-footer: #fafbfc;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

}

body {
    position: relative;
}

/* HEADER SECTION */
header {
    height: 77px;
    background-color: var(--white-color);
    padding: 0px 1vw;
    box-shadow: var(--box-background);
    position: sticky;
    top: 0px;
    left: 0px;
}

.logo {
    width: 58px;
    height: 55px;
}

nav {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 53px;
}

nav ul {

    justify-content: space-around;
    gap: 16px;
    align-items: center;
    width: 40vw;
}

nav ul li {
    list-style-type: none;
    padding: 0px 10px;
    color: var(--primary-color);
    justify-content: center;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 13px;
}

.right-nav {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 62vw;
}

.logo-1 {
    display: none;
}

#toggle-btn {
    display: none;
}


.right-nav input {
    border: none;
    outline: none;
    height: 5vh;
    padding: 0px 50px;
    border-radius: 4px;
    width: 34vw;
    color: var(--fill-color);
    background-color: var(--fillbackground-color);
    border: 0.4px solid rgb(209, 209, 209);
}

.search {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 9px;
    left: 10px;
    height: 18px;
    color: #282c3f;
}

.right-nav input:focus {
    border: none;
    background-color: white;
    border: 0.5px solid rgb(209, 209, 209);
    outline: 1px;
    background-color: #ffffff;

}


.profile-section {
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.profile-icon {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-icon img {
    height: 20px;
}

#profile-logo img {
    height: 21px;
}

.profile-icon span {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
}


/* MAIN SECTION */

#main {
    margin-top: 35px;

}

.slider {
    width: 100%;
    overflow: hidden;
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: -200;

}

.slider img {
    /* display: block; */
    width: inherit;
    position: relative;
    animation: slider-animation 15s infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes slider-animation {
    0% {
        left: 0%;
    }
    80%{
        /* left: 90%; */
    }

    90% {
        left: 100%;
    }
    100% {
        left: 0%;
    }



}

/* LIST-ITEM SECTION */
#list-section {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    gap: 55px;
    width: 100%;
}

.list-product1 {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.list-product1 img {
    width: 190px;
}

.list-product2 {
    flex-direction: column;

}

.list-product2 img {
    width: 183px;
}

.list-row1 {
    width: 100%;
    gap: 7px;
    overflow: hidden;
}

.list-product3 {
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.list-product3 img {

    width: 211px;
}

.header-text {
    font-weight: 900;
    color: var(--secondary-color);
    font-size: 1.6rem;
    margin-left: 30px;
    line-height: 65px;
    letter-spacing: 6px;
}

/* CATEGORIE SECTION */

#categorie-section {
    margin-top: 70px;
}

#categorie-section h1 {
    padding: 36px 0px;
}

.categorie-item {
    overflow: hidden;
    width: 100%;
    flex-direction: column;
    width: 100%;
}

.categorie-row1 {
    width: 100%;
}

.categorie-row1 img {
    width: 190px;
}

/* TOP-BRAND SECTION */

#topbrand-section {
    margin-top: 60px;
}

.top-list {
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.top-list h1 {
    /* flex-direction: column;
    width: 100%;
    overflow: hidden; */
    padding: 36px 0px;
}

.top-row1 {
    width: 100%;
}

.top-row1 img {
    width: 190px;
}


/* FOOTER SECTION */
footer {
    padding-top: 20px;
    margin-top: 77px;
    gap: 40px;
    height: 550px;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--background-footer);
}

.header-link {
    color: var(--primary-color);
    font-size: 14px;
    padding: 10px 0px;
}

.col-1 {
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 20px;
}

.col-2 {
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 20px;
}

.footer-links {
    flex-direction: column;
    gap: 10px;
}

.footer-links li {
    /* flex-direction: column;
    gap: 10px; */
    list-style: none;
    padding: 5px 0px;
}

.footer-links li a {
    text-decoration: none;
    color: var(--fill-color);
    font-size: 17px;
}


.col-3 {
    flex-direction: column;
    gap: 25px;
}

.mobile {
    flex-direction: column;
    gap: 20px;

}

.app-logo {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.app-logo img {
    height: 50px;
}

.social-media {
    flex-direction: column;
    gap: 10px;
}

.social-logo {
    gap: 20px;
}

.social-logo img {
    height: 22px;
}

.footer-row-1 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.footer-row-1 img {
    height: 60px;
}

.footer-row-1 p {
    display: inline-block;
    width: 228px;
    color: var(--fill-color);
    /* letter-spacing: 10px; */
}

.footer-row-1 span {
    font-weight: bold;
    color: #282c3f;
}