@media (max-width: 1230px) {

    #navbar-pc {
        display: none;
    }

    main {
        position: absolute;
        top: 0px;
        right: 0;
        width: 100%;
        height: 161vh;
        left: 0px;
        z-index: -4;
        border-radius: 10px;
        margin-top: 10px;
    }

    .row-songs {
        justify-content: space-between;
        height: 250px;
        gap: 23px;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
    }
}

@media (max-width: 1130px) {

    .masterBtn {
        width: 50%;
    }

    .playbutton {
        display: flex;
        margin-left: 7%;
    }
}

@media (max-width: 980px) {

    .playbutton {
        display: flex;
        margin-left: 2%;
    }
}

@media (max-width: 895px) {

    #handleMasterSongForMobile {
        top: 10px;
        position: sticky;
    }

    header {
        height: auto;
    }

    main {
        margin: 0;
        height: 100vh;
    }

    .container-songs {
        height: auto;
        padding: 2% 14px;
    }

    #navbar-pc {
        left: -30%;
        display: block;
    }

    .left-navbar {
        flex-direction: column;
        position: fixed;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 25%;
        background-color: #131313;
        color: white;
        z-index: 2;
        border-radius: 10px;
        transition: .2s ease-out;
    }

    .close {
        display: block;
    }

    #closepng {
        height: 24px;
        filter: invert(1);
        position: absolute;
        right: 11%;
        top: 16px;
    }

    .nav-item {
        margin: 0px;
        text-align: center;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .navigation-item {
        width: 100%;
        margin-top: 31%;
        gap: 30px;
    }

    .logo {
        display: none;
    }

    .next-prv {
        display: none;
    }

    #menu-bar {
        display: block;
        height: 22px;
        filter: invert(1);
        margin-left: 14px;
    }

    .playbutton {
        position: absolute;
        margin-left: 0;
        right: 0;
        display: flex;
        margin-right: 4%;
    }

    .headeritem {
        position: relative;
        display: flex;
        gap: 17px;
        background: #b3b3b32e;
        align-items: center;
        justify-content: start;
        width: 47%;
    }
}
